<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet"> -->
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
<body>
  <div class="border border-gray-400 rounded w-fit p-4">
    <ul>
      <li>
        Nome:Kauan
      </li>
      <li>
        Telefone: 18996995565
      </li>
      <li>
        Email: kauanolival@gmail.com
      </li>
    </ul>
  </div>
</body>
</html>