<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move Image with Arrow Keys</title>
    <!-- <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
      -->
      <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/moveimg.js" defer></script>
</head>
<body class="m-0 p-0 overflow-hidden">
    <canvas id="myCanvas" class="w-screen h-screen block"></canvas>
</body>
</html>
